extends layout

prepend head
  script.
    var voxbone = voxbone || {};
    (function (window, document, object) {
        window['voxboneObject'] = object;
        var loader = function () {
            var script = document.createElement("script"),
                tag = document.getElementsByTagName("script")[0];
            script.src = 'http://localhost:3000/javascripts/demo/voxbone.js';
            script.async = 1;
            tag.parentNode.insertBefore(script, tag);
        };
        window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
    })(window, document, voxbone);

append head
  script.
    require([
      'angular',
      'controllers/phone'
    ],
    function (angular, PhoneController, jQueryMask) {
      angular.module('sip-webrtc-frontend', [])
        .controller('PhoneController', PhoneController);
      angular.bootstrap(document, ['sip-webrtc-frontend']);
    });

block content
  .site-wrapper-inner.home-wrap
    .container(ng-controller="PhoneController" ng-init=`init(${JSON.stringify(config)}, "${ringtone}", "${email}", "${browserNotifications}")`)
      .call-page-content.ng-cloak.col-md-12
        .row
          .col-md-6
            h4 Call Status
            #status-message-list
          .col-md-6
            h4 Your phone
            .mic-warning.text-center(ng-show="!gumPermission && isCallReceiving()")
              p We couldn't access your Microphone. You won't be able to pick the call. Please check your browser settings and try again.
            .call-sip
              p Internal SIP: &nbsp; sip:#{config.voxbone_webrtc_username}+{{user.browserUsername}}@#{config.sip_gateway_domain}
              br
              p(ng-show="user.sipPassword && user.sipUsername && registrar") Your SIP: &nbsp; sip:{{user.sipUsername}}@{{registrar}}
            .img-container.ng-cloak
              #phone-microphone.phone-int-sensor(ng-show="isCallOngoing()")
                #mic1.sensor.sensor-01
                #mic2.sensor.sensor-02
                #mic3.sensor.sensor-03
              #phone-earphone.phone-int-sensor(ng-show="isCallOngoing()")
                #eap1.sensor.sensor-01
                #eap2.sensor.sensor-02
                #eap3.sensor.sensor-03
              img(ng-src="{{getPhoneImage()}}")
              .call-actions
                button.btn.btn-answer.call-button(ng-disabled="!isCallReceiving() || !gumPermission" ng-show="!isCallOngoing()" ng-click="answerCall()")
                  span.glyphicon.glyphicon-ok
                  | Answer
                button.btn.btn-decline.call-button(ng-show="isCallReceiving()" ng-click="declineCall()")
                  span.glyphicon.glyphicon-earphone
                  | Decline
                button.btn.btn-hangup.call-button(ng-show="isCallOngoing()" ng-click="hangCall()")
                  span.glyphicon.glyphicon-earphone
                  | Hang up
            .text-center.trouble-connecting
              span Trouble connecting? #[a.contact-link(target="_blank" href="mailto:workshop@voxbone.com?subject=sip2webrtc connection help") Contact us]
